{% extends "portfolio/base.html" %}
{% load static %}


{% block content %}

<!-- <div class="container">
	<p>
Hi,I am Jeffy John Sam
</p>

<p>
I'm currently B.E COMPUTER ENGINEERING undergraduate student at F.C.R.I.T
</p>

<p>I'm a developer,geek and a philosphical human besides an Open source enthusiast.</p>

<p>I love to read and solve problems in my leisure</p>
</div> -->

<div class="container">
	<p>I am Jeffy John Sam, 3rd year Computer Engineering undergraduate student at Father Conceicao Rodrigues Institute of Technology.
	My current interests are software development, data science and cyber security.
	</p>

	<p>I love reading books on Stoicism and Human psychology </p>

	<p>In my free time I love to solve problems while listening to rock music</p> 

	<p>Feel free to drop a message at : <a href="mailto:jeffysam02@gmail.com">jeffysam02@gmail.com</a> </p> 

</div>


{% endblock %}