{% extends "portfolio/base.html" %}
{% load static %}


{% block content %}


<div class="container">

	<h2>Projects</h2>

	<ul>
		<li><strong>Library Management System</strong></li>
		<ul>
			<li><a href="https://github.com/jeffysam6/library-management-system">Github link</a></li>
		</ul>

		<li><strong>Fee Management</strong></li>
		<ul>
			<li><a href="https://github.com/jeffysam6/fee-management">Github link</a></li>
		</ul>


		<li><strong>Quote Bot</strong></li>
		<ul>
			<li><a href="https://github.com/jeffysam6/kik_unofficial_quote_bot">Github link</a></li>
		</ul>


		<li><strong>Flag Blog</strong></li>
		<ul>
			<li><a href="https://github.com/jeffysam6/flask_blog">Github link</a></li>
		</ul>


		<li><strong>Poll app</strong></li>
		<ul>
			<li><a href="https://github.com/jeffysam6/poll-app">Github link</a></li>
		</ul>






	</ul>

</div>


{% endblock %}